@model IEnumerable<ProductsViewModel>

@{
    ViewBag.Title = "My Products";
}

<div class="card" style="width: 18rem;">
    <div class="card-header">My products</div>
    <ul class="list-group list-group-flush">
        @foreach (var p in Model)
        {
            <li class="list-group-item">N.@p.Id: @p.Name - @p.Price lv.</li>
        }
    </ul>
</div>
